<!DOCTYPE html>
<html lang="{{ page.language ?? 'fr' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Wine store">
    <meta name="keywords"
          content="">

    <title>{% block title %}Welcome!{% endblock %}</title>
{#        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">#}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    {% block importmap %}{{ importmap('app') }}{% endblock %}
{#    {% block stylesheets %}#}
{#        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">#}
{#    {% endblock %}#}
</head>

<body class="{% block bodyClass %} {% endblock %} flex flex-col min-h-screen">

{% block header %}
    {% include 'layouts/_navbar.html.twig' %}
{% endblock %}

{% block cart %}
    {% include 'layouts/_cart.html.twig' %}
{% endblock %}

<main class="my-8">
    {% include 'partials/flash.html.twig' %}
    {% block body %}{% endblock %}
</main>

{% block footer %}
    {% include 'layouts/_footer.html.twig' %}
{% endblock %}

</body>
</html>
